*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.container{
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
    background-color: #1f2937;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color:#3b82f6;
    letter-spacing: 1px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;

    
}

.nav-links a{
    text-decoration: none;
    color:#e5e7eb;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;

    
}

.nav-links a:hover{
    color: #3b82f6;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
    gap: 100px;
    
    
}

.hero-text{
    max-width: 50%;
    flex: 1;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #f9faf8;
}

.hero-text h1 span{
    color: #3b82f6;
}

.hero-text p {
    font-size: 1.15rem;
    margin-bottom: 30px;
    color: #d1d5db;
    line-height: 1.6;
}


.hero-text button{
    background-color: #3b82f6;
    color: #f9faf8;
    padding: 14px 32px;
    border: none;
    border-radius: 8px;
    font-size: 1.05rem;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.2s ease, background 0.3s ease;


}

.hero-text button:hover{
    background-color: #2563eb;
    transform: translateY(-2px);

}

.hero img{
    max-width: 90%;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.4);

}

.hero-img{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}